/* 页面主色 */
$uni-main-primary: #ef4f3f;

/* 辅助色 */
$uni-subsidiary-success: #27ba9b;
$uni-subsidiary-warning: #ffab2e;
$uni-subsidiary-danger: #ff4c4c;

/* 中性色 */
$uni-neutral-mainText-color: #2a2929;
$uni-neutral-SecondaryText-color: #818181;
$uni-neutral-placeholderText-color: #c2c1c1;
$uni-neutral-formBorder-color: #d9d9d9;
$uni-neutral-separation-color: #eeeeee;
$uni-neutral-background: #f4f4f4;
$uni-neutral-blackColor: #000000;
$uni-neutral-whiteColor: #ffffff;

/* 文字 */
$uni-title-fontsize: 32rpx;
$uni-mainBody-fontsize: 28rpx;
$uni-paravence-fontsize: 26rpx;
