/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
	font-family: 'iconfont'; /* Project id 4276529 */
	src: url('//at.alicdn.com/t/c/font_4276529_9h2xkaiztuf.woff2?t=1696918925191')
			format('woff2'),
		url('//at.alicdn.com/t/c/font_4276529_9h2xkaiztuf.woff?t=1696918925191')
			format('woff'),
		url('//at.alicdn.com/t/c/font_4276529_9h2xkaiztuf.ttf?t=1696918925191')
			format('truetype');
}
.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
	content: '\e62d';
}
.icon-top:before {
	content: '\e600';
}
.icon-clear:before {
	content: '\e621';
}
.icon-add:before {
	content: '\e727';
	color: $uni-main-primary;
}
.icon-Reduction:before {
	content: '\e729';
	color: $uni-main-primary;
}
.icon-Right:before {
	content: '\e632';
}
